/* variables */
/*
	$background-mapView-color: #DADFE3;
	$background-mapView-Active-color: #ACB1C0;
	$branchRect-mapView-Active-color: #D1D6DC;
	$node-Blue: #48A3DA;
	$link-Blue: #436EEE;
	$borders-Blue: #37AFDA;
	$mainText-mapView-color: #3C4958;
	$secondaryText-mapView-color: #8b97a5;
	$rules-map-verticalLine-color: #495163;
	$background-questionNames-color: #335f66;
	$mainText-questionNames-color: #fff;
	$grey-bg: #F7F8F9;
	$disable-gray: #B7BBBD;
*/

body, div {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100vh;
}

/* classes */
#mapView {
	position: relative;
	display: block;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.questionMapSvg {
	position: relative;
	background-color: #335f66;
}

.fixSafariBug {
	position: relative;
	display: block;
	width: 100%;
	margin-top: -6px;
	height: calc(100% - 50px);
}

.ruleMapSvg {
	background-color: #DADFE3;
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
}

.questionSvgContextMenu {
	cursor: auto;
	position: absolute;
	background-color: white;
	width: 150px;
	padding: 8px;
	left: 0;
	top: 0;
	border: 1px #ccc solid;
	border-radius: 6px;
	box-shadow: #333 2px 2px 4px;
}

.questionSvgContextMenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.menuOptions {
	cursor: pointer;
}

.questionSeparator {
	fill-opacity: 0;
	stroke: white;
}

.mapViewActive {
	fill: #ACB1C0 !important;
	fill-opacity: 0.2 !important;
}

.clickable {
	cursor: pointer;
}

.node circle {
	fill: #3C4958;
}

.node rect.branchRect {
	fill: #DADFE3;
	stroke: none;
}

.node rect.branchRect.branchActive {
	fill: #D1D6DC;
}

.node.disabled circle {
	fill: #8b97a5;
}

.node.active circle {
	fill: #48A3DA;
}

line {
	fill: none;
	stroke-width: 1px;
	stroke: #DADFE3;
}

line.questionSeparator {
	stroke: #fff;
}

line.mapSeparator {
	stroke: #8b97a5;
}

.link {
	fill: none;
	stroke: #436EEE;
	stroke-width: 1.5px;
	stroke-opacity: 0.6;
}

text {	font: 12px serif; fill: #3C4958;  }
tspan {	font: inherit; fill: inherit;  }
text.secondary, tspan.secondary { fill: #8b97a5; }
text.questionTitle, tspan.questionTitle { fill: #fff; }


.zoomRectBtn rect {
	fill: #F7F8F9;
	stroke: #B7BBBD;
}

.zoomRectBtn:hover rect {
	fill: #cbd2d8;
}

.zoomRectBtn:active rect {
	fill: #c6cace;
}